/* Remove form style */
input,
textarea,
select {
  all: unset;
  box-sizing: border-box;
}

/* Font style */
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-regular-small {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-size: smaller;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

/* everything else */
.mainDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: smaller;
  margin-top: 10vh;
  margin-bottom: 4em;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.subHeading {
  font-size: 1.2rem;
  color: #555;
}

.centerAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Input Box */
.inputBox {
  font-size: small;
  border-radius: 50px;
  padding: 10px;
  background-color: #adabab30;
  width: 50vw;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
}

.inputBox input {
  all: unset;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.inputBox:hover {
  outline: none;
  opacity: 0.5;
}

/* Login Button */
.login {
  all: unset;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 50px;
  border-left: 0px;
  padding: 10px;
  background-color: #570a0a;
  color: white;
  width: 50vw;
  height: 40px;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
  transition: opacity 0.3s ease;
}
.login:hover {
  opacity: 0.7;
}

.register {
  all: unset;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 50px;
  border-left: 0px;
  padding: 10px;
  background-color: #570a0a;
  color: white;
  width: 50vw;
  height: 40px;
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center;
  transition: opacity 0.3s ease;
}

.register:hover {
  opacity: 0.7;
}

.questionRegister {
  font-size: 0.8rem;
  border-radius: 50px;
  color: black;
  width: 80vw;
  text-align: center;
  box-sizing: border-box;
}

.registerButton {
  all: unset;
  font-weight: bolder;
  color: #570a0a;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
}

.registerButton:hover {
  opacity: 0.7;
}

/* profile card */

.profileCard {
  border-radius: 20px;
  width: 50vw;
  padding: 1em;
  background-color: #ffffff;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profileCardHome {
  border-radius: 20px;
  width: 50vw;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* profile info */
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  width: 100%;
}

.profile-name {
  display: flex;
  flex-direction: column;
  font-size: smaller;
}

.scroll-component {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 20em;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-component::-webkit-scrollbar {
  display: none;
}

.logout {
  padding: 6px 6px;
  margin: 7px;
  border-radius: 100%;
  border: 1px solid black;
  background: #570a0a;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0%;
}

.logout:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.create {
  padding: 6px 6px;
  margin: 7px;
  border-radius: 100%;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0%;
}

.create:hover {
  background: rgba(66, 255, 60, 0.938);
  transform: scale(1.1);
}

.duodot {
  display: flex;
}

.username {
  margin: 0%;
  font-size: x-large;
}

.fullname {
  margin: 0%;
}

/* chats */
.all-chats {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 3px;
  margin: 10px;
  margin-bottom: 3em;
  width:40em;
  text-align: center;
}

/* buttons for profile*/
.profilebutton {
  padding: 6px 6px;
  margin: 7px;
  border-radius: 100%;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0%;
}

.profilebutton:hover {
  background: rgba(213, 93, 2, 0.652);
  transform: scale(1.1);
}

.deletebutton {
  padding: 6px 6px;
  margin: 7px;
  border-radius: 100%;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0%;
}

.deletebutton:hover {
  background: rgb(250, 16, 16);
  transform: scale(1.1);
}

/* current chats */
.links {
  all: unset;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
/* created chats */
.current-chats{
  width:50%
}

.created-chats{
  width:50%
}

.created-chats-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

/* chat page details */

.two-section-chat {
  display: flex;
  flex-direction: column;
}

.verse-container {
  background-color: #570a0a;
  border-radius: 12px;
  width: 100%;
  word-wrap: break-word;
  color: #ffffff;
  margin-bottom: 0%;
}

.verse-section {
  margin: 1em;
}

.verse-word-container {
  font-size: large;
}

.verse-line {
  margin: 7px 0;
}

.inv-memb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* chat page buttons */
.invite-button {
  padding: 6px 6px;
  border-radius: 100%;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0%;
}

.invite-button:hover {
  background: rgb(16, 24, 250);
  transform: scale(1.1);
}

.members-button {
  padding: 6px 6px;
  border-radius: 100%;
  border: 1px solid black;
  background: #570a0a;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0%;
}

.members-button:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

/* message components */
.lower-half {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 20em;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.lower-half::-webkit-scrollbar {
  display: none;
}

.chat-content {
  width: 100%;
  margin-top: 0%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-items: end;
  margin-top: 5px;
  margin-bottom: 5px;
}

.chat-container-no-chat {
  margin-top: 5px;
  margin-bottom: 5px;
}

.message-container-user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-items: end;
}

.message-container-guest {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
}

.message-user {
  display: flex;
  justify-content: end;
  margin: 0%;
}

.message-guest {
  display: flex;
  justify-content: start;
  margin: 0%;
}

.message-chat-user {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #570a0a43;
  border-radius: 7px 7px 0px 7px;
  padding: 5px;
  margin: 0%;
  text-align: start;
  font-size: small;
  max-width: 80%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.message-chat-guest {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #55555527;
  border-radius: 7px 7px 7px 0px;
  padding: 5px;
  margin: 0%;
  text-align: start;
  font-size: small;
  max-width: 80%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.share-button {
  padding: 11px 11px;
  border-radius: 100%;
  border: 1px solid black;
  background: transparent;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0%;
}

.share-button:hover {
  background-color: #08d738;
  transform: scale(1.1);
}

.inputBoxChat {
  font-size: small;
  border-radius: 50px;
  padding: 10px;
  background-color: #adabab30;
  width: 50vw;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transition: opacity 0.3s ease;
}

.inputBoxChat input {
  all: unset;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.inputBoxChat:hover {
  outline: none;
}

.all-members{
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  gap:10px;
}

.member-circle{
  background-color: #570a0a;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  color: white;
}